
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 24px;
}

.content {
  text-align: center;
  margin-top: 40px;
}

.rocket {
  width: 150px;
  height: auto;
  margin-bottom: 32px;
}

h1 {
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  color: gray;
}

.start-button {
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  margin-bottom: 40px;
}
